* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.generals {
    text-align: center;
}
.servers {
display: flex;
border: 1px solid #050505;
height: 100vh;

}
.server-item {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background: #949494;

    border: 3px solid #0a0a0a;
    cursor:grab;
}


@media screen and (max-width: 650px) {
    .servers {
        flex-direction: column;
    }
}