body {
    background-image: url(/img/fon.jpg);
    font-family: Gill Sans, sans-serif;
    font-size: 15px;
    line-height: 1;
    margin: 8px;
    width: 2000px;
  
}
header {  
  display: flex;
  background-color: rgb(48, 50, 51);
   }
  
 .logo {
   padding-top: 15px;
   padding-left: 10px;
 }
 main {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 2000px;
  background-color: rgb(252, 253, 253);
  margin: 0px 0px 10px 250px;
  box-shadow: 10px 5px 5px red;
 }
.wan_text {
height: 600px;
width: 1400px;
}
.services {
height: 600px;
width: 1400px;
margin-bottom: 50px;
}
.choice {
height: 600px;
width: 1400px;
margin-top: 50px;
margin-bottom: 50px;
}
.text {
  height: 400px;
  width: 600px;
  border: 3px;
  padding-left: 50px;
  padding-top: 75px;
  float:left;
}
.text2 {
  height: 600px;
  width: 600px;
  border: 3px;
  padding-top: 15px;
  float:right;
  margin-right: 100px;
}
.text3 {
  height: 435px;
  width: 600px;
  border: 3px;
  padding-top: 25px;
  float:left;
  margin-left: 100px;
}
.image {
  float:right;
  height: 360px;
  width: 640px;
  padding-left: 0;
  padding-top: 0;
}
.image2 {
  float:left;
  height: 360px;
  width: 640px;
  padding-right: 0;
  padding-top: 0;
  margin-left: 40px;
}
.image3 {
  float:right;
  height: 360px;
  width: 640px;
  margin-left: 40px;
  margin-bottom: 100px;
}
.im {
  box-shadow: 15px 10px 5px rgb(14, 13, 13);
}
 
 .button {
   margin: 20px;
   background-color: #050007;
   color: rgb(250, 213, 2);
   font-family: Verdana,sans-serif;
   border-radius: 12px;
   opacity: 0.3;
   transition: 0.9s;
 }
 .button:hover {
   opacity: 1
 }
 .phone {
   margin-top: 30px;
   color: rgb(234, 236, 240);

 }
 
 li a:hover {
   background-color: #a10a0a;
 }
 h1 {
   text-align: center;
 }
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin: 0;  
    text-indent: 2em;  
    line-height: 40px
 } 
 p {
  font-size: 20px;
 }
 ul {
    padding-left: 0;
    margin: 0;
 } 

.cart {
  float:right;
  padding-right: 75px;
  padding-top: 25px;

}
.contacts {
float:left; 
height: 400px;
width: 400px;
padding-top: 25px;
padding-left: 50px;
}
.contactsfull {
height: 200px;
width: 2000px;
margin-bottom: 50px; 
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #686868;
  width: 2000px;

}